.mainContent{
	/*margin: 0 auto !important;*/
	/*width: 851px !important;*/
}
.wtaimg {
	width: 20%;
	height: 20%;
}
.webDev{
	background: rgb(2, 59, 2);
	color: white;
	font-size: 32px;
	font-family: Tahoma;
	padding: 20px 10px;
	font-weight: bold;
}
.leftSide{
	float: left;
	width: 35%;
}
.rightSide{
	float: left;
	width: 65%;
}.clear{
	clear: both;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 20px 100px;
	text-align: right;
	background-color: #BEE0BB;
}